# Default NAMESPACE created by R
# Remove the previous line if you edit this file

useDynLib("wavelets")

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  methods
)

importFrom("graphics", "abline", "axTicks", "axis", "layout", "lines",
           "mtext", "par", "plot", "points", "segments", "text")
importFrom("stats", "end", "fft", "start")

S3method(plot, dwt)
S3method(plot, modwt)
S3method(print, dwt)
S3method(print, modwt)
S3method(print, wt.filter)
S3method(summary, dwt)
S3method(summary, modwt)
S3method(summary, wt.filter)
